@media (max-width: 575.98px) {
  .wrapperTabPanel{
    width: 100%;
  }
  .wrapperList{
    width: 100%;
  }
  .repoItem{
    
  }
}


@media (min-width: 576px) and (max-width: 800px) { 
  .wrapperTabPanel{
    width: 100%;
  }    
  .wrapperList{
    width: 100%;   
  }
 }


@media (min-width: 801px) and (max-width: 1100px) { 
  .wrapperTabPanel{
    width: 100%;
  }    
  .wrapperList{
    width: 100%;   
  }
}


@media (min-width: 1101px) { 
  .wrapperTabPanel{
    width: 100%;
  }    
  .wrapperList{
    width: 100%;   
  }
}
